<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eu.brickfire.bauerntinder.mapper.FieldMapper">
    <resultMap id="field" type="eu.brickfire.bauerntinder.type.Field">
        <result column="id" property="id"/>
        <result column="farmer_id" property="farmerId"/>
    </resultMap>

    <resultMap id="square" type="eu.brickfire.bauerntinder.type.Square">
        <result column="id" property="id"/>
    </resultMap>

    <select id="selectFieldById" resultMap="field">
        select f.id, f.farmer_id from bt_field as f where f.id = #{id};
    </select>

    <select id="selectAllSquaresByFieldId" resultMap="square">
        select sq.id from bt_square as sq where sq.field_id = #{id};
    </select>
</mapper>