<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eu.brickfire.bauerntinder.mapper.FieldMapper">
    <resultMap id="field" type="eu.brickfire.bauerntinder.type.Field">
        <result column="id" property="id"/>
        <result column="farmer_id" property="farmerId"/>
    </resultMap>

    <resultMap id="square" type="eu.brickfire.bauerntinder.type.Square">
        <result column="id" property="id"/>
    </resultMap>

    <select id="selectFieldById" resultMap="field">
        select f.id, f.farmer_id from bt_field as f where f.id = #{id};
    </select>

    <select id="selectSquareById" resultMap="square">
        select sq.id, sq.field_id from bt_square as sq where sq.id = #{id};
    </select>

    <select id="selectAllSquaresByFieldId" resultMap="square">
        select sq.id, sq.field_id from bt_square as sq where sq.field_id = #{id};
    </select>
    
    <select id="selectAllHelperByFieldId" resultMap="eu.brickfire.bauerntinder.mapper.PersonMapper.helper">
        select p.id as personId, p.surname, p.firstname, p.email, p.phone from bt_field as f join bt_field_helper fh on f.id = fh.field_id join bt_helper h on fh.helper_id = h.id join bt_person p on h.id = p.id where f.id = #{id};
    </select>

    <select id="selectHelperCountByFieldId" resultType="int">
        select count(h.id) as anzahl from bt_field as f join bt_field_helper fh on f.id = fh.field_id join bt_helper h on fh.helper_id = h.id where f.id = #{id} group by f.id;
    </select>

    <insert id="insertField" parameterType="eu.brickfire.bauerntinder.type.Field" useGeneratedKeys="true" keyProperty="farmer.id" keyColumn="id">
        insert into bt_field (id, farmer_id) value (#{id}, #{farmerId});
    </insert>

    <insert id="insertSquare" parameterType="eu.brickfire.bauerntinder.type.Square" useGeneratedKeys="true" keyProperty="farmer.id" keyColumn="id">
        insert into bt_square (id, field_id) value (#{id}, #{fieldId});
    </insert>
</mapper>